@import "../../../lib//sampleelement//Default.module.scss";

.background {
  @extend %flex,
  %font;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  width: 96%;

  @media screen and (max-width: 1000px) {
    width: 93%;
  }

  @media screen and (max-width: 865px) {
    width: 92%;
  }

  @media screen and (max-width: 414px) {
    width: 90%;
  }

  .lists {
    @extend %flex,
    %font;
    flex-shrink: 0;
    flex-direction: row;
    justify-content: flex-start;
    flex-shrink: 0;
    height: 6%;
    width: 81%;
    background: white;
    box-shadow: 0px 0px 2px #bdbdbd;

    @media screen and (max-width: 1500px) {
      width: 78%;
    }

    @media screen and (max-width: 1300px) {
      width: 74%;
    }

    @media screen and (max-width: 1000px) {
      width: 92%;
    }

    @media screen and (max-width: 414px) {
      height: 6%;
      width: 90%;
    }

    >span {
      @extend %flex,
      %c2;
      flex-shrink: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
      width: 10%;

      @media screen and (max-width: 1000px) {
        font-size: 12px;
      }

      @media screen and (max-width: 865px) {
        width: 76px;
        font-size: 11px;
      }

      @media screen and (max-width: 414px) {
        font-size: 14px;
      }
    }

    >span:nth-child(1) {
      margin: 0 0 0 20px;
    }

    >span:nth-child(2) {
      width: 20%;

      @media screen and (max-width: 414px) {
        display: none;
      }
    }

    >span:nth-child(3) {
      width: 30%;

      @media screen and (max-width: 414px) {
        display: none;
      }
    }

    >span:nth-child(n+4) {
      cursor: pointer;
    }

    >button {
      @extend %flex,
      %font;
      margin: 0 0 0 20px;
      border: none;
      background: none;
      outline: none;
      cursor: pointer;

      &:hover {
        color: #3e5fce;
      }

      @media screen and (max-width: 414px) {
        margin: 0 8px 0 0;
      }

      >svg {
        @extend %flex;

        @media screen and (max-width: 414px) {
          width: 15px;
        }
      }
    }

    .status {
      @extend %flex,
      %font;
      flex-direction: row;
      justify-content: center;
      width: 7%;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .pages {
    @extend %flex,
    %font;
    flex-direction: row;
    justify-content: flex-end;
    padding: 10px 0;
    width: 81%;

    @media screen and (max-width: 1500px) {
      width: 78%;
    }

    @media screen and (max-width: 1300px) {
      width: 74%;
    }

    @media screen and (max-width: 1000px) {
      width: 92%;
    }

    @media screen and (max-width: 414px) {
      width: 90%;
    }

    >button {
      @extend %flex,
      %font;
      margin: 0 5px;
      padding: 3px 5px;
      border: 1px solid #8a8a8a;
      border-radius: 5px;
      color: #8a8a8a;
      outline: none;
      cursor: pointer;

      &:hover {
        border: 1px solid #3e5fce;
        color: #3e5fce;
        background: #cedaff;
      }

      @media screen and (max-width: 414px) {
        padding: 5px 8px;
      }
    }
  }

  .title {
    @extend .lists;
  }
}