.xiaodi_blob {
    position: absolute;
    z-index: -1;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: -4rem;
    text-align: center;
    width: 80%;
}

.xiaodi_hero-title {
    font-size: 7.1rem;
    font-weight: bold;
    background: -webkit-linear-gradient(#000000, #ED8E29);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.xiaodi_description {
    font-size: 1.5rem;
    margin: 2rem 2rem 5rem 2rem;
    letter-spacing: .05rem;
    padding: 0 5rem;
    color: #573100;
}

.xiaodi_button_container a {
    color: white;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.button_icon {
    font-size: 1.2rem;
    margin-right: 1rem;
}

/* DIV1 */
.xiaodi_order_container {
    padding-top: 15rem;
    padding-bottom: 10rem;
}

.carousel_title {
    font-size: 2.5rem;
    font-weight: bold;
    background: -webkit-linear-gradient(#FDE18A, #ED8E29);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.carousel_desc {
    font-size: 3.5rem;
    text-align: center;
}

.carousel_container {
    padding-top: 10rem;
    display: grid;
    grid-template-columns: 50% 40%;
    gap: 10%;
}

.carousel_container_3 {
    padding-top: 10rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
}

.carousel_desc_item2 {
    margin-bottom: 7rem;
}

.carousel_desc_item h3,
.carousel_desc_item2 h3 {
    font-size: 2rem;
    font-weight: bold;
    background: -webkit-linear-gradient(#FDE18A, #ED8E29);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: .7rem;
    text-align: justify;

}

.carousel_desc_item p,
.carousel_desc_item2 p {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 2rem;
    text-align: justify;
}

/* carousel slick*/
.carousel_img {
    display: block;
}

.carousel_img_2 {
    display: block;
    width: 55vh;
}

.slick-slide {
    box-sizing: border-box;
    margin: auto;
}

.slick-slide img {
    height: 90vh;
    margin: auto;
    left: auto;
    right: auto;
}

.slick-dots li button:before {
    color: gray !important;
}

.slick-dots li.slick-active button:before {
    color: orange !important;
}




/* RESTO */
.resto_container {
    padding-top: 10rem;
}

.resto_content {
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: grid;
    grid-template-columns: 45% 45%;
    align-items: center;
    gap: 10%;
}

.resto_img {
    width: 100%;
    height: 100%;
    justify-content: center;
}

.resto_content_desc p {
    font-size: 1.5rem;
}


.delivery_container {
    padding-top: 15rem;
    padding-bottom: 15rem;
}

.delivery_title {
    font-size: 2.5rem;
    font-weight: bold;
    background: -webkit-linear-gradient(#FDE18A, #ED8E29);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.delivery_desc {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 3rem;
    margin-bottom: 7rem;
}

.homie_img_container {
    display: flex;
}

.homie_img {
    width: 70%;
    margin: auto;
}