@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");
/* 
white: #FEFEF7
background-cream: #FCE6CE
dark-grey: #474747
grey: #A19588
yellow: #F9F5C3
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Sora, cursive;
  scroll-behavior: smooth !important;
  color: #fff;
}
body {
  min-height: 100vh;
  color: #fcf7f0;
  background: linear-gradient(#2b1055, #010a1f);
  overflow-x: hidden; /*jadi kalau image lebih ke kiri ato kanan ga muncul horizontal scroll bar*/
}
header {
  position: relative !important;
  top: 0 !important;
  left: 0% !important;
  width: 100% !important;
  padding: 30px 100px !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  z-index: 10000 !important;
}
header .logo {
  align-items: center;
}
header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li {
  list-style: none !important;
  margin-left: 20px !important;
}
header ul li a {
  text-decoration: none !important;
  padding: 6px 15px;
  color: #fff;
  border-radius: 20px;
}
header ul li a:hover,
header ul li a.active {
  background: #fff;
  color: #2b1055;
}

/* section */

.sec-1 {
  position: relative;
  width: 100%;
  height: 200vh;
  overflow: hidden;
  align-items: center;
}
.polly_ball1 {
  position: fixed;
  top: 50%;
  right: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px; /* Half the height */
  margin-right: -200px; /* Half the width */
  object-fit: cover;
  pointer-events: none;
  z-index: 10000;
}
.polly_ball2 {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px; /* Half the height */
  margin-left: -200px; /* Half the width */
  object-fit: cover;
  pointer-events: none;
  z-index: 10000;
}
.polly_ball1_stick {
  position: fixed;
  top: 50%;
  left: 0px;
  width: 400px;
  height: 400px;
  margin-top: -200px; /* Half the height */
  margin-left: -200px; /* Half the width */
  object-fit: cover;
  pointer-events: none;
  z-index: 10000;
}
.polly_ball2_stick {
  position: fixed;
  top: 50%;
  right: 0px;
  width: 400px;
  height: 400px;
  margin-top: -200px; /* Half the height */
  margin-right: -200px; /* Half the width */
  object-fit: cover;
  pointer-events: none;
  z-index: 10000;
}
/* TEXT */

.intro h2 {
  text-align: center;
  color: #fff;
  white-space: nowrap;
  font-size: 5.5vw;
  z-index: 9;
}
.intro h3 {
  margin: 50px;
  text-align: center;
  color: #fff;
  white-space: nowrap;
  font-size: 1.3vw;
  font-weight: 400;
  z-index: 9;
}

/* SECTION 2 */
.sec-2 {
  min-height: 150vh;
  position: relative;
  background: linear-gradient(transparent, #111111);
  overflow: hidden;
}
.sec-2 h2 {
  margin: 100px;
  text-align: center;
  color: #fff;
  font-size: 2.2em;
  font-weight: 500;
}
.do h3 {
  color: #fff;
  font-size: 8em;
  font-weight: bold;
}
#do_1 {
  position: absolute;
  left: -80px;
  transform: skew(5deg);
}
#do_2 {
  position: absolute;
  margin-top: 200px;
  right: -80px;
  transform: skew(-5deg);
}
#do_3 {
  position: absolute;
  margin-top: 400px;
  left: -80px;
  transform: skew(5deg);
}

/* PROJECTS */
.projects {
  position: relative;
  padding: 100px 300px;
  background: #111;
  align-items: center;
}
.project_container {
  margin: 200px 0px;
  position: relative;
  padding: 35px 30px;
  border: 2px solid #fff8ee;
  border-radius: 15px;
}
.project_container h3 {
  color: rgba(255, 248, 238, 0.51);
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 5px;
}
.project_container h1 {
  font-size: 50px;
  line-height: 46px;
  font-weight: 700;
}
.text-highlight {
  display: inline-block;
  padding: 0px;
  margin-top: 10px;
  color: #47e98d !important;
}
.project_paragraph {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 300;
  line-height: 35px;
  text-shadow: 0 0 4px #000;
}
.btn-outline-primary {
  display: block !important;
  position: absolute;
  left: 30px;
  bottom: 40px;
  font-size: 20px !important;
  padding: 20px !important;
  border-color: #fff !important;
  border-radius: 10px !important;
  color: #fff !important;
}
.btn-outline-primary:hover {
  background: #fff !important;
  color: #111111 !important;
}
.fa-github {
  font-size: 30px;
}

/* FOOTER */

footer {
  background: #111;
  padding-bottom: 50px;
}
.footer_title {
  font-size: 60px;
  font-weight: bold;
  line-height: 120%;
  letter-spacing: -1.5px;
  color: #fff;
  position: relative;
  z-index: 100;
  text-align: center;
  margin-bottom: 1em;
}
.footer_text {
  color: #fff;
  font-size: 20px;
  line-height: 160%;
  margin: 1em;
  position: relative;
  z-index: 100;
  text-align: center;
}
/* CONNECT */
.fa-linkedin {
  margin: 20px;
  font-size: 40px;
  color: #0072b1;
}
.fa-github {
  font-size: 40px;
  color: #fff;
}
.fa-envelope {
  margin: 20px;
  font-size: 40px;
  color: #47e98d;
}
.gradient-text {
  /* Fallback: Set a background color. */
  background-color: red;

  /* Create the gradient. */
  background-image: linear-gradient(45deg, #f3ec78, #af4261);
  background-clip: text;

  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.about {
  padding: 100px 200px !important;
}
.about h3 {
  color: rgba(255, 248, 238, 0.51);
  margin: 20px 0px;
  font-size: 22px;
  font-weight: 200;
  letter-spacing: 5px;
  text-align: left;
}
.about h1 {
  font-size: 50px;
  font-weight: 400;
  color: #ed601a;
}

.about h2 {
  font-size: 40px;
  font-weight: 400;
}
.about p {
  color: #fff;
  margin: 20px 0px;
  font-size: 20px;
  font-weight: 200;
  line-height: 1.5em;
  text-align: left;
}
.about text_highlight {
  padding: 0px;
  margin-top: 10px;
  color: #f34d00;
}
.pb-2 p {
  color: #ff7f40 !important;
}
