.about_hero {
    width: 100%;
    background-size: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: baseline;
    padding: 0 10rem;
}

.about_hero_content {
    padding: 13rem 5rem 10rem 0;
}

.about_hero h1 {
    font-size: 7rem;
    font-weight: bold;
}

.about_flow {
    background: var(--color-bg);
    padding: 5rem;
}

.about_flow h2 {
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    margin: 5rem;
}

.about_flow_img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about_flow_img img {
    width: 70%;
}