/* 
BACKGROUND WHITE: FCF7FF
RICH BLACK: 000814
OXFORD BLUE: 001d3d
PRUSSIAN BLUE: 003566
MIKADO YELLOW: ffc300
GOLD WEB GOLDEN: ffd60a
 */

/* 
(XS) DEVICE (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

(sm) DEVICE (landscape phones, 576px and up)
@media (min-width:576px) { ... }

(md) DEVICE (tablets, 768px and up)
@media (min-width:768px) { ... }

(lg) DEVICE (dekstops, 992px and up)
@media (min-width:992px) { ... }

(xl) DEVICE (large desktops, 1200px and up)
@media (min-width:1200px) { ... }
 */
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
* {
  font-family: "Comfortaa", cursive;
}

/* HEADER */
header {
  position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
}
header .logo {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
}
header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li {
  list-style: none;
  margin-left: 20px;
}
header ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: #fff;
  border-radius: 20px;
}
header ul li a:hover,
header ul li a.active {
  background: #fff;
  color: #2b1055;
}
.s-nav {
  width: 100%;
  height: fit-content;
  background: #f4f0ec;
}
.c-nav {
  max-width: 1600px;
  width: 100%;
  margin: 0;
  position: relative;
  justify-content: space-between;
}
nav img {
  width: 50px;
}
.nav-links {
  text-align: left;
}
.nav-links ul {
  margin: 0;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 20px 30px;
  position: relative;
}
.nav-links ul li a {
  color: #000814;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
}
.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #ffc300;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after {
  width: 100%;
}

/* index.html introduction */
.intro {
  width: 100%;
  padding: 0px 5%;
  background-position: center;
  background-size: cover;
  position: relative;
}
.intro h1 {
  margin-top: 30%;
  font-size: 80px;
  font-weight: 900;
  line-height: 120%;
}
.intro h3 {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
}
.padding-rl {
  padding-right: 50px;
  padding-left: 50px;
}

.img-padding {
  width: 100%;
  height: 100%;
  padding: 50px;
}
.blue-bg {
  width: 100%;
  height: 100%;
  background: rgb(9, 14, 85);
}
.round {
  border-radius: 15px;
}

.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #000814;
  border: 1px solid #000814;
  padding: 12px 34px;
  font-size: 13px;
  background-color: transparent;
  position: relative;
  cursor: pointer;
}
.hero-btn:hover {
  border: 1px solid #ffc300;
  background: #ffc300;
  transition: 1s;
}
nav .fa-solid {
  display: none;
}
@media (max-width: 700px) {
  .text-box h1 {
    font-size: 30px;
  }
  .nav-links ul li {
    display: block;
  }
  .nav-links {
    position: absolute;
    background: #001d3d;
    height: 100vh;
    width: 200px;
    top: 0;
    right: 0px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  nav .fa-solid {
    display: block;
    color: #fff;
    margin: 12px;
    font-size: 22px;
    cursor: pointer;
  }
  .nav-links li {
    margin: 12px;
  }
  .nav-links ul li a {
    color: #fcf7ff;
  }
}

.projects {
  background-color: #f4f0ec;
  width: 100%;
  text-align: center;
  padding: 10px;
}
.projects h1 {
  font-size: 62px;
  font-weight: bold;
}
.projects p {
  margin: 10px 0 40px;
  margin-bottom: 50px;
  font-size: 20px;
}
.project-col-1 {
  background-image: linear-gradient(45deg, rgb(18, 51, 107), #008081);
  padding: 10px;
  flex-basis: 40%;
  border-radius: 8px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  margin-left: 70px;
}
.project-col-1 h5 {
  margin-top: 10px;
  margin-right: 10px;
  font-size: 10px;
  font-weight: 600;
  text-align: right;
  color: #cfcfcf;
}
.project-col-1 h4 {
  margin-top: 10px;
  margin-right: 10px;
  font-size: 20px;
  text-align: right;
  color: #f4f0ec;
  font-weight: bold;
}
.project-col-1 img {
  width: 50%;
  padding: 12px;
  margin-bottom: 50px;
}
.project-col-2 {
  background-image: linear-gradient(45deg, rgb(25, 25, 25), #126444);
  padding: 10px;
  flex-basis: 40%;
  border-radius: 8px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  margin-left: 70px;
}
.project-col-2 h5 {
  margin-top: 10px;
  margin-right: 10px;
  font-size: 10px;
  font-weight: 600;
  text-align: right;
  color: #cfcfcf;
}
.project-col-2 h4 {
  margin-top: 10px;
  margin-right: 10px;
  font-size: 20px;
  text-align: right;
  color: #f4f0ec;
  font-weight: bold;
}
.project-col-2 img {
  width: 50%;
  padding: 12px;
  margin-bottom: 50px;
}
.layer-1 {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}
.layer-1:hover {
  background: rgba(18, 51, 107, 0.7);
}

.layer-1 h3 {
  width: 100%;
  font-weight: 500;
  color: #fff;
  font-size: 26px;
  bottom: 0;
  transform: translateX(0%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}
.layer-1:hover h3 {
  bottom: 40%;
  opacity: 1;
}

/* LAYER 2 */
.layer-2 {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.layer-2:hover {
  background: rgba(25, 25, 25, 0.7);
}

.layer-2 h3 {
  width: 100%;
  font-weight: 500;
  color: #fff;
  font-size: 26px;
  bottom: 0;
  transform: translateY(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}
.layer-2:hover h3 {
  bottom: 49%;
  opacity: 1;
}

/* ABOUT.HTML */
.profile-section {
  padding: 100px 0px;
  width: 100%;
  background-color: #f4f0ec;
}
.profile-img {
  margin: 0px 50px 0px 0px;
  width: 100%;
  border-radius: 12px;
  float: right;
  filter: drop-shadow(5px 5px 5px #222);
}
.profile-section h1 {
  font-size: 32px;
  font-weight: bold;
  line-height: 45px;
}
.profile-section h3 {
  font-size: 16px;
  margin-top: 40px;
  font-weight: 500;
  line-height: 150%;
}
.c-life-tittle {
  width: 100%;
  padding: 100px 0px;
  background-color: #ffd86f;
  background-image: linear-gradient(0deg, #ffd86f 0%, #f4f0ec 100%);
}
.c-life-tittle h1 {
  font-size: 50px;
  font-weight: 800;
  line-height: 120%;
  text-align: center;
  margin: 40px;
}
.c-life-tittle h3 {
  color: #505050;
  font-size: 18px;
  font-weight: 400;
  line-height: 130%;
  text-align: center;
}
.hr-orange {
  height: 0.1px;
  background-image: linear-gradient(0deg, #ffd86f 0%, #f4f0ec 100%) !important;
}
.c-life-item {
  margin: 0 250px;
  padding: 100px 0;
  /* background-color: #ffd86f;
    background-image: linear-gradient(0deg, #ffd86f 0%, #f4f0ec 100%);   */
}
.item-date {
  color: #505050 !important;
  font-size: 17px !important;
  font-weight: bold !important;
  line-height: 130%;
  text-align: left;
}
.fa-calendar {
  font-size: 100%;
  text-align: center;
  margin-top: 2px;
  float: right;
}
.fa-code {
  font-size: 200%;
  text-align: center;
  margin-top: 2px;
  float: right;
}
.life-item-detail h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}
.life-item-detail h3 {
  color: #818181;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}
.life-item-detail p {
  color: #818181;
  font-size: 18px;
  margin-bottom: 20px;
}

/* FOOTER */
.footer-container {
  padding-bottom: 100px;
}
.c-footer__title {
  font-size: 60px;
  font-weight: bold;
  line-height: 120%;
  letter-spacing: -1.5px;
  color: #232320;
  position: relative;
  z-index: 100;
  text-align: center;
}
.c-footer__text {
  color: #656270;
  font-size: 20px;
  line-height: 160%;
  margin-top: 2em;
  position: relative;
  z-index: 100;
  text-align: center;
}
