@import "../../../lib//sampleelement//Default.module.scss";

.mask {
  @extend %flex;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #00000071;
  z-index: 1;

  >div {
    @extend %flex,;
    color: #00000000;
    height: 100%;
    width: 100%;
  }

  .background {
    @extend %flex,
    %scroll_w;
    position: absolute;
    justify-content: flex-start;
    width: 300px;
    height: 160px;
    border-radius: 3px;
    background-color: #ffffff;

    @media screen and (max-width: 414px) {
      width: 300px;
      height: 150px;
    }

    >.content {
      @extend %flex;
      flex-shrink: 0;
      width: 95%;

      >span {
        @extend %flex,
        %h1;
        height: 70px;
        width: 100%;
      }
    }

    >.button {
      @extend %flex,
      %font;
      flex-direction: row;
      height: 70px;
      width: 95%;

      >button {
        @extend %flex,
        %c3;
        margin: 0 0 0 20px;
        padding: 6px 20px;
        color: #696969;
        background: none;
        border: 1px solid #696969;
        border-radius: 4px;
        box-shadow: 0 0 5px #ffffff;
        outline: none;
        cursor: pointer;

        @media screen and (max-width: 414px) {
          padding: 6px 12px;
          font-size: 12px;
        }
      }

      >button:nth-child(1) {
        color: #ff5555;
        border: 1px solid #ff5555;

        &:hover {
          color: #ffffff;
          background: #ff5555;
          border: 1px solid #ff5555;
          box-shadow: 0 0 5px #ff5555;
        }
      }

      >button:nth-child(2) {
        color: #222222;
        border: 1px solid #222222;

        &:hover {
          color: #ffffff;
          background: #222222;
          border: 1px solid #222222;
          box-shadow: 0 0 5px #222222;
        }
      }
    }
  }
}