.service_container {
    margin-top: 8rem;

}

.service-title {
    font-size: 4.2rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.service-block-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.portfolio__item {
    padding: .5rem;
    border: 1px solid transparent;
    border-radius: 15px;
    transition: var(--transition);
    min-height: 15rem;
    background-size: 30rem;
    background-repeat: no-repeat;
    background-position: center;
}

.service_content {
    border: 1px solid var(--color-white);
    border-radius: 15px;
    position: relative;
    bottom: -7rem;
    align-content: center;
    text-align: center;
    background: var(--color-bg);
    min-height: 13rem;
}

/* .portfolio__item:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
} */

.service_content:hover {
    background: linear-gradient(to top, #a33c91, #0b132c);
    transform: scale(1.02)
}

.service_content:hover .portfolio__item {
    color: var(--color-white);
}


.portfolio__item h3 {
    font-size: 1.3rem;
    padding: 2.5rem 0 1.8rem 0;
    background: -webkit-linear-gradient(#eee, #8B287B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}


.portfolio__item a {
    color: var(--color-white);
    font-size: 1.6rem;
    text-align: center;
    font-weight: bold;
}

.flowchart_container {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 5rem;
}

.flowchart_image {
    align-content: center;
    width: 100%;
}