.dashboard_container {
    margin: 2rem;
}

.dashboard_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.download_report_btn {
    font-size: .9rem !important;
    font-weight: bold !important;
    padding: .5rem 1rem !important;
    border-radius: 10px !important;
}

.box_span_3 {
    grid-column: span 3;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
}

/* campaign */
.campaign_container {
    grid-column: span 6;
    grid-row: span 2;
    padding: 2rem;
    border-radius: 1rem;
}

.campaign_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

/* sales */
.sales_container {
    grid-column: span 6;
    grid-row: span 2;
    border-radius: 1rem;
}

/* recent transaction */
.recent_transaction_container {
    grid-column: span 12;
    grid-row: span 2;
    border-radius: 1rem;
    overflow: auto;
    padding: 1rem;
    margin-bottom: 1rem;
}